<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css"/>
    <title></title>
  </head>
  <body>
    <div class="App">

      <div class="twilight-head">
        <h1>Twilight</h1>
          <div class="twilight-header-button">
            <button type="button" class="twilight-search">SEARCH</button>
            <button type="button" class="twilight-signin">SIGN IN</button>
          </div>
      </div>

      <div class="twilight-navbar">
      <nav class="navbar navbar-expand-lg navbar-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Skincare</a>
              <a class="dropdown-item" href="#">BB/CC Cream</a>
              <a class="dropdown-item" href="#">Toner</a>
              <a class="dropdown-item" href="#">Mask</a>
              <a class="dropdown-item" href="#">Cleansing</a>
            </div>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Best Seller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">New Arrival</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promotion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item" id="mybag">
              <a class="nav-link" href="#">My Bag</a>
            </li>

          </ul>

        </div>
      </nav>

      <div class="line"></div>

    </div>

      <div class="twilight-image">
        <img src="./view/1.jpg"/>
        <img src="./view/2.jpg"/>
        <img src="./view/3.jpg"/>
      </div>

      <div>
        <h2>BEST SELLER</h2>
        <div class="best-line"></div>
      </div>

      <div class="product-card">
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
      </div>

      <div class="new-arrival">
        <h2>NEW ARRIVAL</h2>
        <div class="best-line-2"></div>
      </div>

      <div class="product-card">
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
      </div>

      <div>
        <h2>PROMOTION</h2>
        <div class="best-line-3"></div>
      </div>

      <div class="product-card">
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>  
      </div>

      <div class="footer">
        <div class="first">
          <p>Twilight</p>
          <p>About Us</p>
          <p>Facebook</p>
          <p>No. 1, St. 2, Phnom Penh</p>
        </div>
        <div class="second">
          <p>Contact</p>
          <p>Twitter</p>
          <p>+855 12 345 678</p>
        </div>
        <div class="third">
          <p>2020 Twilight. All rights reserved</p>
          <p>Terms & Conditions</p>
          <p>Instagram</p>
          <p>twilightskincare@gmail.com</p>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
